/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  --font-scale: 1;
}

html {
  text-wrap: pretty;
}

@font-face {
  font-family: "RoundhandRegular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Roundhand-Regular"),
    url("/fonts/roundhand_regular.woff") format("woff");
}

@font-face {
  font-family: "RoundhandBold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Roundhand-Bold"),
    url("/fonts/roundhand_old.woff") format("woff");
}

@font-face {
  font-family: "AstonScriptBold";
  src:
    url("/fonts/aston_script.woff") format("woff"),
    url("/fonts/aston_script.eot?") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vamones";
  src:
    url("/fonts/vamones_aygax.woff2") format("woff2"),
    url("/fonts/vamones_aygax.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ballet-regular {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "alexandra_scriptregular";
  src:
    url("/fonts/alexandra_script.woff2") format("woff2"),
    url("/fonts/alexandra_script.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaultra_compressed";
  src:
    url("/fonts/helvetica_ultra_compressed-webfont.woff2") format("woff2"),
    url("/fonts/helvetica_ultra_compressed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
