/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

html {
  text-wrap: pretty;
}

@font-face {
  font-family: "Roundhand-Regular";
  font-style: normal;
  font-weight: normal;
  src:
    local("Roundhand-Regular"),
    url("/assets/fonts/roundhand_regular.woff") format("woff");
}

@font-face {
  font-family: "Roundhand-Bold";
  font-style: normal;
  font-weight: normal;
  src:
    local("Roundhand-Bold"),
    url("/assets/fonts/roundhand_old.woff") format("woff");
}

@font-face {
  font-family: "AstonScriptBold-Bold";
  src:
    url("/assets/fonts/aston_script.woff") format("woff"),
    url("/assets/fonts/aston_script.eot?") format("eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vamones";
  src:
    url("/assets/fonts/vamones_aygax.woff2") format("woff2"),
    url("/assets/fonts/vamones_aygax.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
