---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="width">
    <div class="titles">
      <div class="title">
        <h1>mit cv</h1>
      </div>
      <div class="title">
        <h3>mit cv</h3>
      </div>
    </div>
    <div class="grid_1-1-1">
      <div class="school">
        <div class="align_right">
          <p>
            <b>Elev - Bankagerskolen</b><br />
            <i>2007 - 2017</i>
            <br />
            Folkeskole
          </p>
        </div>
        <div class="align_right">
          <p>
            <b>Elev - Brøruphus Efterskole</b><br />
            <i>2017 - 2018</i>
            <br />
            Efterskole m. kunst som linjefag
          </p>
        </div>
        <div class="align_right">
          <p>
            <b>Elev - Horsens Statsskole</b><br />
            <i>2018 - 2021</i>
            <br />
            Gymnasial uddannelse på STX m. samfundsfag og engelsk som studieretning,
            <br />og billedkunst som linjefag
          </p>
        </div>
        <div class="align_right">
          <p>
            <b>Elev - Kunsthøjskolen i Holbæk</b><br />
            <i>Efterår 2023</i>
            <br />
            Højskole m. grafisk design, vandringer, maleri, filmhistorie og tekstile
            processer på papir
          </p>
        </div>
        <div class="align_right">
          <p>
            <b>Elev - Københavns Erhvervsakademi</b><br />
            <i>2024 - 2026</i>
            <br />
            Erhvervsuddannelse m. multimediedesign
          </p>
        </div>
      </div>
      <div class="container">
        <div class="vertical-line"></div>
      </div>
      <div class="work">
        <div>
          <p>
            <b>Servicemedarbejder u/18 - Bilka</b><br />
            <i>3. april 19 - 15. oktober 19</i>
            <br />
            Kasseekspedient, håndtering af varer og betjening af kunder
          </p>
        </div>
        <div>
          <p>
            <b>Kaffevognsekspedient i kaffe/is-bod | Woodys</b><br />
            <i>Sommer 21 - Efterår 22</i>
            <br />
            Lave kaffe, servere is, rengøring og betjening af kunder
          </p>
        </div>
        <div>
          <p>
            <b>Timelønnet tilkaldevikar | Krokushaven</b><br />
            <i>24. januar 22 - 13. juni 22</i>
            <br />
            Pasning og underholdning af børn i alderen 1 - 6 år
          </p>
        </div>
        <div>
          <p>
            <b>Servicemedarbejder |Regionshospitalet Horsens</b><br />
            <i
              >13. juni 22 - 31. december 22<br />
              og 1. januar 24 - 31. marts 24</i
            >
            <br />
            Rengøring af sengestuer og servering/tilberedning af mad
          </p>
        </div>
        <div>
          <p>
            <b>Visuel Merchandiser | Normal</b><br />
            <i>1. februar 23 - 30. juni 23</i>
            <br />
            Varemodtagelse, opsætning af salgsvarer på reoler og inventar samt træning
            af butiksmedarbejdere i koncept og varehåndtering
          </p>
        </div>
        <div>
          <p>
            <b>Konceptudvikler | Arzu Magazine</b><br />
            <i>2024</i>
            <br />
            Kreativ håndtering af indhold og videreudvikling af grafik og koncept
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  /* Skrifttyper */
  @font-face {
    font-family: "Champignon";
    src:
      url("champignon-webfont.woff2") format("woff2"),
      url("champignon-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Champignon_alt_swash";
    src:
      url("champignonaltswash-webfont.woff2") format("woff2"),
      url("champignonaltswash-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "helveticaultra_compressed";
    src:
      url("../fonts/Helvetica-UltraCompressed-Regular/helvetica_ultra_compressed-webfont.woff2")
        format("woff2"),
      url("../fonts/Helvetica-UltraCompressed-Regular/helvetica_ultra_compressed-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .ballet-regular {
    font-family: "Ballet", serif;
    font-weight: 400;
    font-style: normal;
  }

  .inter-regular {
    font-family: "Inter", serif;
    font-weight: 400;
    font-style: normal;
  }

  h1 {
    font-family: "Ballet", serif;
    font-size: 5rem;
    color: lightgray;
    font-weight: 400;
    text-align: center;
  }

  .my_info h1 {
    color: black;
    font-size: 3.2rem;
    text-shadow: 1px 1px 40px rgb(95, 61, 36);
  }

  h2 {
    font-family: "Champignon", serif;
    font-weight: 400;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
  }

  .title h3 {
    line-height: 3.6;
    text-align: center;
  }

  h4 {
    font-family: "Arial_narrowbold", sans-serif;
  }

  h5 {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 1.4;
  }

  p {
    font-family: "Inter";
    font-size: 0.9rem;
    font-weight: 300;
  }

  .content p {
    max-width: 78ch;
    margin: 0 auto;
  }

  a {
    font-family: "helveticaultra_compressed";
    text-transform: uppercase;
    font-weight: 1000;
    transition: color 0.3s;
  }

  /* ID-kort */
  .card {
    margin: 20px auto 0 auto;
    width: 90%;
    height: 500px;
    background-image: url(../imgs/plastic.webp);
    background-size: cover;
    background-color: #fcf7f1;
    border-radius: 25px;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: max-content 1fr;
    padding: 15px;
  }

  .my_face img {
    width: 150px;
    height: auto;
    object-fit: cover;
  }

  .my_name {
    padding-left: 10px;
  }

  .my_name h3 {
    font-size: 2.2rem;
  }

  .card_grid {
    display: grid;
    grid-template-columns: max-content 1fr;
  }

  .flex_row {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
  }

  .block {
    display: none;
  }

  .block2 {
    display: block;
  }

  /* CV grid */
  .titles {
    display: grid;
  }

  .title {
    grid-area: 1 / 1;
    text-align: center;
  }

  .school {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .work {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
  }

  .container {
    margin: 0 auto;
  }

  .vertical-line {
    border-left: 1.5px solid #000;
    height: 100%;
  }

  .align_left {
    text-align: left;
  }

  .align_right {
    text-align: right;
  }

  /* Generel styling */
  .content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 8px;
  }

  /* Linje */
  .line {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 0.2rem;
  }

  .width {
    width: 75%;
    margin: 0 auto;
  }
</style>
