---
import Layout from "../layouts/Layout.astro";
---

<Layout title="03" meta="Et galleri af mine venner og deres ID-kort">
  <section class="aspect-ratio-container">
    <div class="aspect-ratio-content">
      <div class="grid_1-1">
        <div class="package">
          <img src="/assets/binder1.webp" alt="Brunt brev" class="binder" />
          <img
            src="/assets/stickynote.webp"
            alt="Sticky notes"
            class="stickynote"
          />
          <p class="stickytext">Hvem er <br />Osçar ?</p>
          <img src="/assets/letter-wax.webp" alt="Brunt brev" class="wax" />
        </div>

        <div class="phone">
          <img
            src="/assets/apple_iie_background.webp"
            alt="Telefon baggrund"
            class="phone_background"
          />
          <img src="/assets/apple_iie.webp" alt="Telefon" id="phone" />
          <div class="text">
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡴⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣯⠀⢀⣠⡶⠛⠉⠙⠳⡄⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢺⣰⠟⠁⠀⠀⠀⠀⠀⠉⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡏⠀⠀⣠⠤⢤⡀⠀⠀⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠆⠀⠸⠄⠀⠀⣿⡄⣀⡀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣳⠀⠀⠀⠀⢀⣾⣿⡇⢠⣿⠀⠀⠀<br />
            ⠀⠀⠀⣀⣠⣶⢴⡤⡶⣖⡒⡗⠛⢿⡷⣶⣾⡿⠋⠙⠿⠟⠉⠑⠒⠂<br />
            ⠀⣰⠾⠛⠋⠹⢽⣿⡦⡮⣿⡇⣤⣤⡈⢻⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
            ⢺⠋⠀⠀⠀⠀⠀⠘⣽⣵⣫⣿⡃⡼⠇⣸⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
            ⠸⠀⠀⠀⠀⠀⠀⠀⠀⣿⡟⣿⠛⢊⡽⠿⠛⠿⣶⣦⣄⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣻⣯⡱⠁⠀⠀⠀⠀⠀⠈⢿⣧⡀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⢰⡿⠡⣟⠇⠀⠀⠀⢀⣀⡀⠀⠸⣿⡇⠀⠀⠀<br />
            ⠀⠀⠀⠈⠢⠶⠤⠞⠋⠁⢸⡏⠀⠀⢀⣿⠃⠀⠀⠀⢰⣧⠇⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣧⠀⠀⢨⡿⡀⠀⠀⣰⣿⠋⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠠⣿⠀⠀⠀⠙⠚⠷⠿⠟⠁⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⢤⣾⣿⡿⡿⣦⠄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣷⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
            ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br />
          </div>
          <div class="figures">
            <input type="checkbox" id="figure-1" />
            <label for="figure-1" class="figure-1"></label>

            <input type="checkbox" id="figure-2" />
            <label for="figure-2" class="figure-2"></label>

            <input type="checkbox" id="figure-3" />
            <label for="figure-3" class="figure-3"></label>

            <input type="checkbox" id="figure-4" />
            <label for="figure-4" class="figure-4"></label>

            <input type="checkbox" id="figure-5" />
            <label for="figure-5" class="figure-5"></label>

            <input type="checkbox" id="figure-6" />
            <label for="figure-6" class="figure-6"></label>

            <input type="checkbox" id="figure-7" />
            <label for="figure-7" class="figure-7"></label>

            <input type="checkbox" id="figure-8" />
            <label for="figure-8" class="figure-8"></label>

            <input type="checkbox" id="figure-9" />
            <label for="figure-9" class="figure-9"></label>

            <input type="checkbox" id="figure-10" />
            <label for="figure-10" class="figure-10"></label>

            <input type="checkbox" id="figure-11" />
            <label for="figure-11" class="figure-11"></label>

            <input type="checkbox" id="figure-12" />
            <label for="figure-12" class="figure-12"></label>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .aspect-ratio-container {
    position: relative;
    width: 100%; /* Ændret fra 100vw til 100% for at undgå horisontal scroll */
    height: 100vh;
    overflow: hidden; /* Beholder overflow hidden på containeren */
    max-width: 100%; /* Sikrer at bredden aldrig overstiger vinduet */
    box-sizing: border-box; /* Sikrer at padding ikke øger dimensioner */
    margin: 0;
    padding: 0;
  }

  .aspect-ratio-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; /* Bruger flexbox til centrering */
    justify-content: center;
    align-items: center;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    width: calc(100% - 2rem); /* Giver lidt margin for at undgå scrollbar */
    margin: 0 auto; /* Centrerer indholdet */
    justify-content: center;
    padding: 5%;
  }

  .package,
  .phone {
    display: flex; /* Bruger flexbox til centrering */
    align-items: center;
  }

  .package {
    justify-content: right;
    margin-right: 2%;
    position: relative;
  }
  .phone {
    justify-content: left;
    margin-left: 2%;
    position: relative;
    width: 60%;
    height: auto;
    max-width: 100%;
  }

  .binder {
    width: 65%;
    height: auto;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  }

  .stickynote {
    width: 45%;
    height: auto;
    position: absolute;
    top: 18%;
    left: 55%;
    z-index: 1; /* Sørger for at baggrunden er bag telefonen */
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  }

  .wax {
    width: 46%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 1; /* Sørger for at baggrunden er bag telefonen */
    transform: rotate(-15deg);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  }

  .stickytext {
    width: fit-content;
    height: auto;
    position: absolute;
    align-content: center;
    text-align: center;
    top: 33%;
    left: 65%;
    z-index: 2; /* Sørger for at baggrunden er bag telefonen */
    font-family: AstonScriptBold;
    font-size: calc(2cqw * var(--font-scale));
    color: black;
    line-height: 130%;
  }

  #phone {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  }

  .phone_background {
    width: 60%;
    height: auto;
    position: absolute;
    top: 9%;
    left: 20%;
    z-index: -1; /* Sørger for at baggrunden er bag telefonen */
  }

  .figures {
    width: 69%;
    height: 27.3%;
    position: absolute;
    top: 65.5%;
    left: 16%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .figures input[type="checkbox"] {
    display: none;
  }

  .figures label {
    display: block;
    margin: 1%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border-radius: 10%;
    z-index: 2;
    filter: blur(0.8px);
    mix-blend-mode: overlay;
    cursor: pointer;
  }

  /* Active effekt (mens musen er trykket ned) */
  .figures label:active {
    background-color: rgba(0, 0, 0, 0.3);
    filter: blur(0.8px);
  }

  .text {
    width: 60%;
    height: 32.5%;
    position: absolute;
    align-content: center;
    text-align: center;
    top: 9%;
    left: 22%;
    z-index: 2; /* Sørger for at baggrunden er bag telefonen */
    font-family: Helvetica, sans-serif;
    font-size: calc(0.55cqw * var(--font-scale));
    font-weight: 400;
    -webkit-text-stroke: 0.4px;
    -webkit-text-stroke-color: black;
    color: black;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
  }
</style>
