---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 style="text-align: center;">
    <br /><br /><br /><br /><br /><br />velkommen til min portfolio
  </h1>
  <h2 style="text-align: center;">forside er under konstruktion:P</h2>
</Layout>

<style>
  body {
    font-family: "vamones", sans-serif; /* Tilføj fallback-font */
  }
</style>
