---
import Layout from "../layouts/Layout.astro";
---

<Layout title="osçar's Portfolio" meta="Forsiden til min portfolio hjemmeside">
  <section class="screen">
    <div class="content-container">
      <img src="/assets/whiteboard.svg" alt="" class="whiteboard" />
      <!-- <div class="video">
        <video src="/assets/fur_background.mp4" autoplay loop muted></video>
      </div> -->
      <div class="text">
        <h1>Portfolio</h1>
      </div>
    </div>
  </section>
</Layout>

<style>
  .screen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-container {
    position: relative;
    width: 30%; /* Samme som whiteboard */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .whiteboard {
    width: 100%; /* Fylder containeren */
    height: auto;
    position: relative;
  }

  .video {
    position: absolute;
    top: 5%;
    left: 5.5%;
    width: 89.5%;
    height: 49.5%;
    overflow: hidden;
  }

  .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
  }

  .text {
    width: 100%;
    height: 32.5%;
    position: absolute;
    align-content: center;
    text-align: center;
    top: 13%;
    left: 17%;
    font-family: "helveticaultra_compressed";
    font-size: calc(5cqw * var(--font-scale));
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 1; /* Kontrollerer afstanden mellem linjer */
    text-transform: uppercase;
  }

  .text h1,
  .text h2 {
    margin: 0;
    padding: 0;
    font-weight: normal; /* Eller den vægt du ønsker */
  }

  /* Du kan også målrette dem individuelt hvis nødvendigt */
  .text h1 {
    margin-bottom: 0; /* Kun en smule afstand mellem h1 og h2 */
  }

  .text h2 {
    font-weight: lighter; /* Gør undertitlen lettere */
    font-size: 0.8em; /* Gør undertitlen mindre */
  }
</style>
