<div class="container">
  <img src="/assets/plastic_bag.png" alt="" />
  <img src="/assets/labubu.png" alt="" class="item" />
</div>

<style>
  .container {
    position: relative;
    justify-content: center;
    width: 20%;
    height: auto;
    z-index: 10;
    transition: transform 0.2s;
    place-self: center;
  }

  .container:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    /* box-shadow: 0px 15px 10px -15px #111; */
  }

  .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    z-index: 15;
    mix-blend-mode: multiply;
  }

  p {
    position: absolute;
    font-family: owners-xxwide, sans-serif;
    font-size: calc(0.8cqw * var(--font-scale));
    text-transform: uppercase;
    color: #000000;
    z-index: 15;
    font-weight: normal;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    place-self: center;
    place-items: center;
    text-align: center;
  }
</style>
