---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="RESUME" meta="Mine faglige kompetencer">
  <img src="/assets/construction.png" alt="" class="sign" />
  <h2>Siden er under konstruktion</h2>
  <div class="space"></div>
  <div class="space"></div>
</Layout>

<style>
  h2 {
    font-family: owners-xwide, sans-serif;
    font-size: calc(1.5cqw * var(--font-scale));
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  .sign {
    display: block;
    margin: 0 auto 20px auto;
    width: 15vw;
    height: auto;
    margin-top: 15%;
  }
</style>
