---
import Layout from "../../layouts/Layout.astro";
import ArtCard from "../../components/ArtCard.astro";
import artworks from "../../database/artworks.jsx";
---

<Layout title="RESUME" meta="Mine faglige kompetencer">
  <div class="title">
    <img src="/assets/title_projects.webp" alt="" />
    <h2>af Osçar Laursen</h2>
    <div class="content">
      <h3>
        Et galleri af værker skabt uden for skærmens kodesprog - i krydsfeltet
        mellem det analoge og det digitale. En samling af fotografier, videoklip
        og lydværker, side om side med grafiske kompositioner og malerier, hvor
        håndens arbejde og det sanselige får lov at træde frem i dette galleri.
      </h3>
    </div>
  </div>
  <div class="space"></div>
  <div class="flex">
    {artworks.map((card, index) => <ArtCard {...card} number={index + 1} />)}
  </div>
</Layout>

<style>
  .title {
    margin: 0 auto;
    margin-top: 5%;
    overflow-x: hidden;
    place-content: center;
    text-align: center;
  }

  .title img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  h2 {
    font-family: roundhand-bold, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    text-align: center;
  }

  .content {
    max-width: 80%;
    margin: 0 auto;
    padding: 2cqw;
    place-self: center;
  }

  h3 {
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    text-align: justify;
    max-width: 70ch;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2cqw;
    padding: 2cqw;
    padding-bottom: 10cqw;
    max-width: 90%;
    margin: 0 auto;
  }

  body {
    overflow-x: hidden;
  }
</style>

<!-- Tilføj til <head> i Layout.astro -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
/>
