---
import Layout from "../../layouts/Layout.astro";
import ArtCard from "../../components/ArtCard.astro";
import artworks from "../../database/artworks.jsx";
---

<Layout title="RESUME" meta="Mine faglige kompetencer">
  <div class="title">
    <svg viewBox="0 0 500 500" fill="none">
      <path
        id="curve"
        d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97"
      ></path>
      <text>
        <textPath xlink:href="#curve" startOffset="50%"
          >Øvrige Projekter</textPath
        >
      </text>
    </svg>
    <h2>af Osçar Laursen</h2>
    <h3>
      Et galleri af værker skabt uden for skærmens kodesprog - i krydsfeltet
      mellem det analoge og det digitale. En samling af fotografier, videoklip
      og lydværker, side om side med grafiske kompositioner og malerier, hvor
      håndens arbejde og det sanselige får lov at træde frem i dette galleri.
    </h3>
  </div>
  <div class="space"></div>
  <div class="flex">
    {artworks.map((card, index) => <ArtCard {...card} number={index + 1} />)}
  </div>
</Layout>

<style>
  .title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 2%;
  }

  svg {
    width: 900px;
    height: 900px;
    pointer-events: none;
  }

  text {
    font-family: sans-serif;
    font-size: 2cqw;
    fill: black;
    font-family: "big-caslon-fb", serif;
    text-align: center;
    text-anchor: middle;
  }

  h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: roundhand-bold, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3cqw;
    text-align: center;
  }

  h3 {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Times New Roman", Times, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1cqw;
    text-align: justify;
  }

  .space {
    height: 40vh;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2cqw;
    padding: 2cqw;
    padding-bottom: 10cqw;
    max-width: 90%;
    margin: 0 auto;
  }
</style>
