---
import Menu from "../components/Menu.astro";
import "../styles/general.css";
import AOSInit from "../styles/AOSInit.jsx";
const { title, meta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={meta} />
    <meta name="author" content="Oscar Laursen" />
    <!-- Favicon -->
    <link
      rel="icon"
      type="image/png"
      href="/favicon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="OÇR" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <!-- Webfonts -->
    <link
      href="https://fonts.cdnfonts.com/css/walkway-expand"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://use.typekit.net/kml0nth.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://db.onlinewebfonts.com/c/4fb4d0da1bed256241a7c41788e5d62e?family=Burgues+Script"
      rel="stylesheet"
      type="text/css"
    />
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>OÇR - {title}</title>
  </head>
  <body>
    <Menu />
    <slot />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    {/** Placer React-island her: */}
    <AOSInit client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
